# Telegram token
TELEGRAM_BOT_TOKEN=7886877476:AAES5QZ2-sfGLHX8oqbdHhl5ZiIUmUvhRuw

# Admins
ADMIN_IDS=662135656,637352363

# Database
DATABASE_URL=postgresql://postgres:1234@localhost:5432/telegramflow


# Flowise AI
FLOWISE_API_URL=https://flowise.bibizyana.ru/api/v1/prediction/a7f3789d-252f-44e9-a8a8-f8b8bf3d65c4
FLOWISE_API_KEY=5pIhWVwoVNHFUYwn4A_QowI84z8G5QIb1FVq0wf4tOU